<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Brownfield Apple App Expo 56.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Brownfield Apple App Expo 57.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Brownfield Apple App Vanilla.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>793C76A62EEBF938008A2A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79B8BEB42FB8000000B94C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617FBE102FF7AA9D00348DD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
