name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  check-changeset:
    name: Check changeset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check changeset
        if: github.ref != 'refs/heads/main'
        run: yarn changeset status --since=origin/${{ github.base_ref }}

  build-lint:
    name: Build & static code analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build packages
        run: yarn build

      - name: Lint files
        run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

      - name: Test Brownfield CLI (version)
        run: |
          yarn workspace @callstack/react-native-brownfield brownfield --version

  android-androidapp-expo:
    name: Android road test (RNApp & AndroidApp - Expo)
    runs-on: ubuntu-latest
    needs: build-lint

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run RNApp -> AndroidApp road test (Expo)
        uses: ./.github/actions/androidapp-road-test
        with:
          flavor: expo
          rn-project-path: apps/ExpoApp
          rn-project-maven-path: com/callstack/rnbrownfield/demo/expoapp/brownfieldlib

  android-androidapp-vanilla:
    name: Android road test (RNApp & AndroidApp - Vanilla)
    runs-on: ubuntu-latest
    needs: build-lint

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run RNApp -> AndroidApp road test (Vanilla)
        uses: ./.github/actions/androidapp-road-test
        with:
          flavor: vanilla
          rn-project-path: apps/RNApp
          rn-project-maven-path: com/rnapp/brownfieldlib

  ios-appleapp-vanilla:
    name: iOS road test (RNApp & AppleApp - Vanilla)
    runs-on: macos-26
    needs: build-lint

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run RNApp -> AppleApp road test (Vanilla)
        uses: ./.github/actions/appleapp-road-test
        with:
          variant: vanilla
          rn-project-path: apps/RNApp

  ios-appleapp-expo:
    name: iOS road test (RNApp & AppleApp - Expo)
    runs-on: macos-26
    needs: build-lint

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run ExpoApp -> AppleApp road test (Expo)
        uses: ./.github/actions/appleapp-road-test
        with:
          variant: expo
          rn-project-path: apps/ExpoApp
